@import "./mobile-theme.css";

:root {

  --blue3: #223343;
  --brown: #964b00;

  --primary-color: var(--blue3);
  --secondary-color: var(--blue2);

  --view-toolbar-color: var(--primary-contrast-color);
  --view-toolbar-background-color: var(--primary-color);

  --view-item-active-background-color: var(--gray75);
}