<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>

<ftui-popup id="popup-rain" timeout="0" width="100%">
	<header>Regen Verlauf heute</header>
	<ftui-chart>
		<ftui-chart-data 
			point-radius="0" 
			label="Tagesvorhersage" 
			color="yellow" 
            border-width="3"
			log="myLogProxy" 
			file="-" 
			spec="Func:logProxy_proplanta2Plot('WetterProplanta','rain_',$from,$to,0,'day')" 
			unit="mm">
		</ftui-chart-data>
		<ftui-chart-data
			point-radius="0" 
			label="Regen pro Stunde" 
			color="blue"
			border-width="3"
			log="FileLog_Netatmo" 
			spec="4:Netatmo.rain_hour"
			unit="mm"
			stepped="true"
			fill>
		</ftui-chart-data>
	</ftui-chart>
</ftui-popup>

</html>
