<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>

<ftui-view-item popup-target="{{popup}}">
	<ftui-label slot="start" popup-target="{{popup}}">{{label}}</ftui-label>
	<ftui-label [text]="{{defMin}}" unit="&nbsp;-&nbsp;" class="size-0" color="gray" popup-target="{{popup}}" style="{{minstyle}}"></ftui-label>
	<ftui-label [text]="{{defMax}}" unit=" {{unit}} heute" class="size-0" color="gray" popup-target="{{popup}}" style="{{maxstyle}}"></ftui-label>
	<ftui-label style="font-weight:bold;" color="primary" [text]="def" unit=" {{unit}}" slot="end" popup-target="{{popup}}"></ftui-label>
</ftui-view-item>

</body>
</html>
